{% extends "main/base.html" %}   /* расширяем шаблон вёрстки окна, которое одинаково для всех приложений */ 
{% load static %}

{% block page_css%}
    <link rel="stylesheet" href="{%static "deps/css/about_css.css"%}">
{% endblock %}

{% block footer_css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}


{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h5 class="m-2" style="width: 1500px;">{{ content }}</h5>
        <p class="m-2">{{ text_on_page }}</p>
    </div>
{% endblock %}